In [9]:
#Step 1\
# importing libraries

import pandas as pd

In [22]:
#Step 2\
#Reading/importing dataset with assigning a name

df=pd.read_excel("pandas_01.xlsx") 

#write the path if you want to load data from another folder such as C:\\Doccuments\123.docx etc.

In [23]:
print(df)

      height  weight favourite_dish
0   5.600000      46         Burger
1   5.317767      71        Samosay
2   5.172670      81          Pizza
3   6.141776      63      Dhaibalay
4   5.314216      46       Fish fry
..       ...     ...            ...
95  5.949737      87         Haleem
96  6.053873      59         Burger
97  5.857475      66          Roast
98  5.199388      71          Pizza
99  5.748519      69         Burger

[100 rows x 3 columns]

In [24]:
df.head(10)

     height  weight favourite_dish
0  5.600000      46         Burger
1  5.317767      71        Samosay
2  5.172670      81          Pizza
3  6.141776      63      Dhaibalay
4  5.314216      46       Fish fry
5  5.699034      89            BBQ
6  5.907154      80  Chicken Handi
7  5.351350      66         Haleem
8  5.502971      77          Roast
9  5.789085      71          Roast

In [25]:
df.tail(10)

      height  weight favourite_dish
90  5.412689      85            BBQ
91  5.348893      75        Samosay
92  5.173363      60         Haleem
93  5.456473      63      Dhaibalay
94  5.297525      74  Chicken Handi
95  5.949737      87         Haleem
96  6.053873      59         Burger
97  5.857475      66          Roast
98  5.199388      71          Pizza
99  5.748519      69         Burger

In [26]:
df.shape

(100, 3)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          100 non-null    float64
 1   weight          100 non-null    int64
 2   favourite_dish  100 non-null    object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.5+ KB